<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paulaalejandra.proyectimagenes" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".sesion"
            android:label="INICIAR SESION" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".general"
            android:label="@string/title_activity_general" >
        </activity>
        <activity
            android:name=".publicar"
            android:label="@string/title_activity_publicar" >
        </activity>
        <activity
            android:name=".categorias"
            android:label="@string/title_activity_categorias" >
        </activity>
        <activity
            android:name=".misInformes"
            android:label="@string/title_activity_mis_informes" >
        </activity>
        <activity
            android:name=".carrito"
            android:label="@string/title_activity_carrito" >
        </activity>
    </application>

</manifest>
